*{
    margin: 0%;
    padding: 0%;
}

.nav{
    height: 100px;
    width:100%;
    /* background-color: skyblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 1vw; */
   border-bottom: 2px solid #dadada;
   /* background-color: skyblue; */
}


.logo{
    height: 100%;
    width: 50%;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 5vw;
 
}

.nav .logo span{
    color:  rgb(50, 211, 130);
} 

.nav2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    font-size:1.7vw;
}
.nav2 i{
    font-size: 30px;
    display: none;
}
.nav2 button{
    height: 3vw;
    width: 7vw;
    font-size: 1.7vw;
    padding: 0.5 1vw;
    border-radius: 5px;
    border: none;
    background-color:rgb(50, 211, 130);
    color: white;
}

.content{
  /* height: 50%; */
    width: 100%;
    /* background-color: rgb(255, 150, 12); */
   position: relative;
   display: flex;
}

.left{
height: 80%;
width: 50%;

padding: 2vw 4vw;
}

.left h1{
   line-height: 4vw;
    font-size: 4.2vw;
    
}
.left h1 span{
    color:rgb(50, 211, 130);
}

.left p{
    margin-top: 2vw;
    font-size: 2vw;
}
.left button{
    height: 3vw;
    width: 15vw;
    font-size: 1.7vw;
    padding: 0.5 1vw;
    border-radius: 5px;
    background-color: rgb(50, 211, 130);
    color: white;
    border: none;
    margin-top: 2vw;
}

.right{
height: 80%;
width: 50%;


}

.right img{
    height:500px;
    width: 100%;
}